* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

.debug {
    border: 1px solid red;
    background-color: yellow;
}

:root {
    --top-text-color: white;
    --product-text-color: black;
    --sale-value-color: white;
    --sale-bg-color: red;
    --eco-bg-color: green;
    --eco-text-color: white;
    --header-bg-color: #ff6900;
    --heart-bg-color: white;
    --price-color: red;
    --footer-bg-color: black;
    --footer-text-color: white;
}

.d-flex {
    display: flex;
}

.site_header {
    min-height: 70px;
    width: 100%;
    background-color: var(--header-bg-color);
}


.nav {
    color: var(--top-text-color);
    min-height: 70px;
    max-width: 1200px;
    width: 80%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}

.symbols {
    color: var(--top-text-color);
}

i {
    padding: 5px;
}

#logo {
    width: 100px;
    height: auto;
}

.site_main {
    min-height: 1000px;
}

.container {
    max-width: 1200px;
    width: 80%;
    margin: auto;
}

.row {
    flex-wrap: wrap;
    margin: 0 -1rem;
}

.col {
    width: calc(100% / 12 * 4);
    padding: 1rem;
}

.card {
    position: relative;
}

.heart {
    position: absolute;
    top: 5px;
    right: 0;
    font-size: 20px;
    background-color: var(--heart-bg-color);
    padding: 5px;
}

.badges {
    position: absolute;
    left: 0;
    bottom: 100px;
}

.sales {
    background-color: var(--sale-bg-color);
    color: var(--sale-value-color);
    padding: 3px 5px;
}

.ecos {
    background-color: var(--eco-bg-color);
    color: var(--eco-text-color);
    padding: 3px 5px;
}

#price {
    color: var(--price-color);
}

#old_price {
    padding-left: 5px;
}

.site_footer {
    min-height: 90px;
    background-color: var(--footer-bg-color);
    color: var(--footer-text-color);
    border-bottom: 2px solid white;
    margin-top: 30px;
}

.info {
    padding: 10px;
}

.socials>i {
    background-color: white;
    color: black;
    padding: 2px;
    margin-top: 5px;
}

.end_position {
    justify-content: space-between;
    align-items: center;
}